// Bootstrap Colors
$blue: #607be8;
$indigo: #2443ac;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e43f52;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #2eca8b;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray-100: #f8f9fc;
$gray-200: #edf2f7;
$gray-300: #e9ecef;
$gray-400: #ced4da;
$gray-500: #8492a6 ;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #161c2d;
$black: #000;
//== Colors
$brand-primary:#57B0D2;
$brand-primary-light: #f1f1f1;
$brand-blue : #3136A8;
$brand-text : #111111;
$brand-light-text : #999999;
$brighter-blue : #2f55d4 ;
// $bright-blue: 
$briter-yellow : #ffbc48;
$dark-black : #000000;
$light-black : #373737;
$dark-white : #ffffff;
$briter-gray : #aaafbe;
$dark-gray : #8492a6;
$darker-gray : #233d63;
$light-gray : #79879d;

// Font size
$font-big-title : 45px;
$font-size-h1 : 32px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 22px;
$font-size-h5: 18px;
$font-size-h6: 16px; 
$font-title-web: 32px; 
$font-title-mob: 22px; 
$font-sub-title-web: 22px; 
$font-sub-title-mob: 18px;
$title-web : 22px;
$title-mobile :20px;
$font-text: 16px;


// Font family
$Nunito-light: 'Nunito-light';
$Nunito-light-italic: 'Nunito-light-italic';
$Nunito-regular: 'Nunito-regular';
$Nunito-regular-italic: 'Nunito-regular-italic';
$Nunito-semiBold: 'Nunito-semiBold';
$Nunito-semiBold-italic: 'Nunito-semiBold-italic';
$Nunito-bold: 'Nunito-bold';
$Nunito-bold-italic: 'Nunito-bold-italic';